@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

a:hover {
    color: #000000;
    transition: all 0.5s ease;
}

* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.root {
    height: 100%;
    width: 100%;
    background: transparent;
    flex: 1;
}

:root {
    --et-height: 4rem;
}

html {
    scroll-behavior: smooth;
}

.nav-link,
.nav-item {
    color: #212121 !important;
}

nav {
    box-shadow: 0 0 5em #4286f460;
    background-color: #ffffff;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chats {
    padding: 1rem 0;
    list-style: none;
    top: 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    overflow: scroll;
    flex: 1;
    height: calc(94vh - 4rem);
    overflow-x: hidden;
    overflow-y: auto;
}

.card-group {
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.chats .mj {
    background: #f3f3f3;
    width: auto;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    color: #000;
    border-radius: 3px 20px 20px 20px;
    clear: both;
    float: left;
    position: relative;
    max-width: 65vw; 
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select:auto;
    transition: all 1s ease;
}

.chats .attch {
    width: auto;
    border-radius: 3px 20px 20px 20px;
    clear: both;
    float: left;
    position: relative;
    max-width: 90vw;
    transition: all 1s ease;
}

.chats .me {
    background: #4285f4;
    color: #fff;
    width: auto;
    margin: 5px;
    padding: 10px 20px 10px 20px;
    border-radius: 20px 20px 3px 20px;
    clear: both;
    float: right;
    position: relative; 
    max-width: 65vw; 
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select:all;
    transition: all 1s ease;
}

@media (max-width:1080px) {
    .chats .mj, .chats .me {
        max-width: 80vw; 
    }
}

.edittxt {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: var(--et-height);
    display: flex;
    align-items: center;
    box-shadow: 0 0 2em #2121215e;
    background-color: #ffffff;
}

.edittxt .txt {
    height: 100%;
    flex: 1;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
}

.edittxt .send {
    height: 100%;
    background: #fff;
    border: none;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.4rem;
    color: #0078ff;
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("/images/chevron-down.svg");
    background-size: 100%;
    background-position: center center;
    width: 25px;
    height: 25px;
    display: flex;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #4285f4;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a76d8;
}

.nojs {
    position: fixed;
    z-index: 999999;
    bottom: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    background-color: #de5246;
    color: #ffffff;
    padding: 4px;
}

.toast {
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.chats .mj:hover, .chats .attch:hover, .chats .me:hover, .toast:hover {
    transition: box-shadow .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    transition: all 0.5s ease;
}

.text-center {
    padding-top: 10%;
}

.btn {
    border-radius: 7px;
    padding-left: 6%;
    padding-right: 6%;
    transition: all 1s ease;
}

.btn:focus {
    background-color: #ffffff;
    border-color: #4285f4;
    color: #4285f4;
    transition: all 1s ease;
}