body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

svg {
    width: 100vw;
    height: 100vh;
}

.fc1 {
    fill: #6495ED;
}

.fc2 {
    fill: #ADD8E6;
}

.fc3 {
    fill: #87CEEB;
}

.fc4 {
    fill: #87CEFA;
}

svg path {
    fill: inherit;
}