@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

body {
    padding-top: 76px;
    background: #ffffff;
    color: #2e475d;
}

svg {
    fill: #2e475d;
}

ol {
    list-style: none;
    /* Remove default bullets */
}

ol li::before {
    content: counter(li);
    color: #4285f4;
    display: inline-block;
    width: 2em;
    margin-left: -2em
}

ol li {
    counter-increment: ol li
}


legend {
    padding: 10px;
}

fieldset {
    border-radius: 5px;
    border-style: solid;
}


hr {
    height: 5px;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #4285f4;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover {
    color: #212121;
    transition: all 0.5s ease;
}

nav .nav-link:hover {
    color: #212121;
}

.first {
    background-color: transparent !important;
    box-shadow: none !important;
}

.first .card-body {
    padding: 5%;
}

.first .mb-3 {
    padding: 5%;
    margin-bottom: 0 !important;
    border: none;
}

nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

nav .nav-item:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, .3);
    transition: all 1s ease;
    border-radius: 8px;
    border: none;
}

footer .nav-link:hover,
.navbar-brand:hover {
    color: #4285f4 !important;
    transition: all 1s ease;
}

footer .nav-link {
    color: #2e475d;

}

main {
    margin-left: 10%;
    margin-right: 10%;
}


nav {
    padding: 15px !important;
    background-color: transparent;
    transition: all 0.5s ease;
}

.imgc {
    border: none;
    border-radius: 10px;
}

#me {
    padding: 20px !important;
}

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}

#friends,
#sm {
    margin-top: 2%;
}

.card,
.accordion,
.modal-content,
.toast {
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.accordion {
    background-color: #ffffff;
}

.custom-modal-button,
#accpt {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

.accordion-item,
.accordion-button,
.list-group-item,
.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212121;
    background-color: #ffffff;
    border: none !important;
}

.accordion-button:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.accordion-button {
    transition: all 0.5s ease;
}

.accordion-button:hover,
.accordion-button:active {
    background-color: #4285f4 !important;
    color: white;
    border-radius: 5px !important;
    border: none !important;
    transition: all 0.5s ease;
}

.card:hover,
.accordion:hover,
.toast:hover {
    border-radius: 0px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    transition: all 0.5s ease;
}

.card-header,
.accordion-header {
    background: none;
    border: none;
}

.text-center {
    padding-top: 10%;
}

.text-center2 {
    text-align: center;
}

p.top {
    font-size: 1.2em;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    margin: 7px;
}

@media (max-width:1080px) {

    main {
        margin-left: 4%;
        margin-right: 4%;
    }

    footer {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }

    .container-fluid {
        margin-left: 0%;
        margin-right: 0%;
        padding: 0px;
    }


    .dropdown-menu {
        padding: 4% !important;
    }
}

.nojs {
    position: fixed;
    z-index: 999999;
    bottom: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    background-color: #de5246;
    color: #ffffff;
    padding: 4px;
}

.circle-png {
    border-radius: 50% !important;
}

.skill {
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    background-color: #ffffff;
    border-color: #ffffff;
    border-width: 0px;
    border-style: solid;
    border-radius: 50px;
    color: #484848;
    transition: all 0.5s ease;
    list-style: none;
}

.mrepol742-skills {
    display: flex;
    flex-wrap: wrap;
}

.skill:hover {
    background-color: #4285f4;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.5s ease;
}

.asd {
    margin: 2%;
}

.images {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.images .holder {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    -ms-overflow-style: none;
}

.images .holder::-webkit-scrollbar {
    display: none;
}

.images .holder .preview {
    width: 50%;
    height: auto;
    max-width: 200px;
    max-height: 90vh;
    margin: 0 0.3rem;
}

.preview0 {
    max-width: 600px !important;
}

@media (max-height:400px) {

    .preview {
        max-height: 70vh !important;
    }

    .preview0 {
        max-width: 150px !important;
    }

}

@media (max-width:1080px) {

    .preview {
        max-height: 50vh !important;
    }

    .preview0 {
        max-width: 250px !important;
    }
}

footer {
    box-shadow: 0 0 5em #4286f460;
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.dropdown-menu {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    border-radius: 20px;
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    padding: 15%;
}

.btn {
    border-radius: 7px;
    padding-left: 6%;
    padding-right: 6%;
    transition: all 0.5s ease;
}

.btn:focus {
    background-color: #ffffff;
    border-color: #4285f4;
    color: #4285f4;
    transition: all 0.5s ease;
}

.deVaaa {
    background-color: #ffffff;
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    padding: 5px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #4285f4;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a76d8;
}

.dropdown-toggle::after {
    border: none !important;
}

.progress {
    height: 25px;
    font-weight: bold;
    border-radius: 50px;
}

.progress-bar {
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

.navbar-toggler-icon {
    background-image: url("/images/menu.svg");
    background-size: 80%;
    background-position: center center;
    width: 25px;
    height: 25px;
    display: flex;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#qwe {
    transition: all 0.5s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    box-shadow: 0 0 5em #4286f460;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease-in-out;
}

.scrolled-up-tr {
    background-color: transparent !important;
    box-shadow: none !important;
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}

.sec {
    display: none;
}

#mobile {
    display: block;
}

#desktop {
    display: none;
}

.grid-container {
    grid-template-columns: auto;
}

.grid-item {
    margin: 1%;
}

@media (min-width:420px) {

    .sec {
        display: inline-block;
    }

    .grid-container {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width:770px) {

    #mobile {
        display: none;
    }

    #desktop {
        display: block;
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}