/*body {
    backdrop-filter: blur(5px);
}*/

@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

a {
    color: #4285f4;
    text-decoration: none !important;
}

a:hover {
    color: #000000;
}

* {
    font-family: 'Maven Pro', sans-serif;
    outline: none;
}

.form-control, .input-group-text {
    background-color: #212121;
    border-width: 9px;
    border-style: solid;
    height: 60px;
    color: #ffffff;
}

.form-control {
    border-right: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.input-group-text {
    border-left: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#con {
    text-align: center;
    margin-top: 20%;
}

section.main {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width:1080px) {

    #con {
        margin-top: 40% !important;
    }

    section.main {
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 5% !important;
    }

    footer {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
}


#sug {
	display: none;
	flex-direction: column;
	width: 75%;
    background: rgba(0, 0, 0, .4);
	margin: 1rem 0;
	border-radius: 10px;
    color: #ffffff;
	position: absolute;
	left: 50%;
    height: 90%;
	transform: translate(-50%, -5%);
	padding: 0 5px;
	overflow-y: scroll;
    z-index: 999999;
}

#sug .sug-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem;
}

#sug .sug-item span {
	margin: 0 0.5rem;
	font-size: 1rem;
}

#sug .sug-item .text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


 .nojs {
  position: fixed;
  z-index: 999999;
  bottom: 0%;
  left: 0%;
  right: 0;
  text-align: center;
  background-color: #de5246;
  color: #ffffff;
  padding: 4px;
 }

.text-center {
    padding-top: 10%;
  }
  
  .text-center2 {
      text-align: center;
  }


footer {
    box-shadow: 0 0 5em #4286f460;
    background-color: #ffffff;
    margin-top:  15%;
    color: #212121;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 5%;
    border-style: none;
}

.card, .accordion, .modal-content, .toast {
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.accordion {
    background-color: #ffffff;
}

.custom-modal-button, #accpt {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

.accordion-item, .accordion-button, .list-group-item, .navbar-toggler {
    border: none;
}

.accordion-button:hover, .accordion-button:active {
    background-color: #4285f4;
    color: white;
}
.card:hover, .accordion:hover {
    transition: box-shadow .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.card-header, .accordion-header {
    background: none;
    border: none;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border: none;
	background-color: #4285f4;
	border-radius: 0.5em;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #3a76d8;
}

html {
	scroll-behavior: smooth;
}
