@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

a {
    color: #4285f4;
    text-decoration: none !important;
    transition: all 0.5s ease;
}

a:hover {
    color: #000000;
    transition: all 0.5s ease;
}

* {
    font-family: 'Maven Pro', sans-serif;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

main {
    padding-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width:1080px) {

    .container {
        padding-top: 25% !important;
    }

    .container-fluid {
        margin-left: 8%;
        margin-right: 8%;
    }

    main {
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 5% !important;
    }

    footer {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
}

.search-container {
    width: 80%;
    border: none;
    border-radius: 50px;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.search-container:hover {
    background: rgba(0, 0, 0, .7);
    transition: all 0.5s ease;
}

.search-container>svg {
    height: 24px;
    min-width: 70px;
    align-self: center;
    color: #cecece;
}

#search {
    border-width: 0px;
    background: transparent;
    width: 100%;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-size: 14px;
}

#search::placeholder {
    color: #f1f1f1;
}

#sug {
    display: none;
    flex-direction: column;
    width: 85%;
    background: rgba(0, 0, 0, .5);
    margin: 2rem 0;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
    padding: 0 5px;
    overflow-y: scroll;
    z-index: 999999;
}

#sug .sug-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

#sug .sug-item span {
    margin: 0 0.5rem;
    font-size: 1rem;
}

#sug .sug-item .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nojs {
    position: fixed;
    z-index: 999999;
    bottom: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    background-color: #de5246;
    color: #ffffff;
    padding: 4px;
}

.text-center {
    padding-top: 10%;
}

.text-center2 {
    text-align: center;
}

footer {
    box-shadow: 0 0 5em #4286f460;
    background-color: #ffffff;
    margin-top: 10%;
    color: #212121;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.wid {
    width: 80%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: none;
    color: #fff;
}

.cards {
    box-shadow: 0 0 5em rgba(0, 0, 0, .1);
    transition: box-shadow .3s;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

#cardbbb:hover, .images .holder .preview:hover {
    transition: box-shadow .3s;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    transition: all 0.5s ease;
}

.accordion {
color: #fff !important;
}

.card-header, .accordion-button  {
    transition: all 0.5s ease;
}

.card,
.accordion,
.modal-content,
.toast {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.custom-modal-button,
#accpt {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

.accordion-item,
.accordion-button,
.list-group-item,
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.accordion-button:hover,
.accordion-button:active {
    background-color: #4285f4;
    color: white;
}

.card-header,
.accordion-header {
    background: none;
    border: none;
}

.hii {
    float: left;
    text-align: left;
    text-shadow: 0px 0px 4px rgb(73, 67, 67);
    font-size: 0.9em;
    color: #fff;
}

.hii2 {
    color: #fff;
}

#currD {
    color: #fff;
    text-shadow: 0px 0px 4px rgb(73, 67, 67);
    padding: 30px;
}

.fav {
    max-width: 20px;
}

.images {
    width: 100%;
    overflow: hidden;
    display: flex;
    padding: 10px;
}

.images .holder {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    -ms-overflow-style: none;
}

.images .holder::-webkit-scrollbar {
    display: none;
}

.images .holder .preview {
    height: auto; 
    width: auto; 
    max-width: 1000px; 
    max-height: 250px;
    margin: 0 0.3rem;
}

.preview {
    border-radius: 7px;
    border: none;
}

.images .holder #root2 {
    max-width: 100px; 
    max-height: 100px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border: none;
    background-color: #4285f4;
    border-radius: 0.2em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3a76d8;
}

.col-md-1 {
    width: 24px;
}

.col-md-9 {
    width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

 
nav {
    box-shadow: 0 0 5em #4286f460;
    background-color: #ffffff;
}

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1.2%;
}

.form-inline {
    margin-left: 2%;
    margin-right: 2%;
}

.igtt {
    margin: 1%;
}

#search1 {
    width: 100%;
    border-radius: 10px;
    border-color: #cecece;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-toggler-icon {
    background-image: url("/images/chevron-down.svg");
    background-size: 100%;
    background-position: center center;
    width: 25px;
    height: 25px;
    display: flex;
}

.navbar-brand {
    width: 20% !important;
    font-size: 15px;
}

@media (max-width:1080px) {
    .search-container, .wid {
        width: 100% !important;
    }

    .navbar-brand {
        width: 50% !important;
    }
}
