@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

a {
    color: #4285f4;
    text-decoration: none !important;
}

a:hover {
    color: #000000;
}

* {
    font-family: 'Maven Pro', sans-serif;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.main {
    padding-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

@media (max-width:1080px) {

    .container {
        padding-top: 40% !important;
    }

    section.main {
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 5% !important;
    }

    footer {
        padding-top: 10% !important;
        padding-bottom: 10% !important;
    }
}

.search-container {
    width: 80%;
    border-width: 0px;
    border-radius: 50px;
    border-style: solid;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
}

.search-container>svg {
    height: 24px;
    min-width: 70px;
    align-self: center;
    color: #cecece;
}

.container {
    padding-top: 15% !important;
}

#search {
    border-width: 0px;
    background: transparent;
    width: 100%;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    font-size: 14px;
}

#search::placeholder {
    color: #f1f1f1;
}

@media (max-width:1080px) {
    .search-container {
        width: 100% !important;
    }
}

#sug {
    display: none;
    flex-direction: column;
    width: 75%;
    background: rgba(0, 0, 0, .5);
    margin: 2rem 0;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -5%);
    padding: 0 5px;
    overflow-y: scroll;
    z-index: 999999;
}

#sug .sug-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

#sug .sug-item span {
    margin: 0 0.5rem;
    font-size: 1rem;
}

#sug .sug-item .text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nojs {
    position: fixed;
    z-index: 999999;
    bottom: 0%;
    left: 0%;
    right: 0;
    text-align: center;
    background-color: #de5246;
    color: #ffffff;
    padding: 4px;
}

.text-center {
    padding-top: 10%;
}

.text-center2 {
    text-align: center;
}

footer {
    box-shadow: 0 0 5em #4286f460;
    background-color: #ffffff;
    margin-top: 10%;
    color: #212121;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.card,
.accordion,
.modal-content,
.toast {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}

.custom-modal-button,
#accpt {
    border-radius: 50px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
}

.accordion-item,
.accordion-button,
.list-group-item,
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.accordion-button:hover,
.accordion-button:active {
    background-color: #4285f4;
    color: white;
}

.card-header,
.accordion-header {
    background: none;
    border: none;
}

.hii {
    float: left;
    text-align: left;
    text-shadow: 0px 0px 4px rgb(73, 67, 67);
    font-size: 0.9em;
    color: #fff;
}

.hii2 {
    color: #fff;
}

#currD {
    color: #fff;
    text-shadow: 0px 0px 4px rgb(73, 67, 67);
    padding-top: 20px;
}