@font-face {
    font-family: Maven-Pro;
    src: url("fonts/Maven%20Pro.ttf");
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #414141;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

a {
    color: #4285f4;
    text-decoration: none;
}

* {
    font-family: Maven-Pro;
}

button {
    background-color: #4285f4;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 50px;
    border-color: #4285f4;
    outline: none;
    border-style: solid;
}

button:active {
    background-color: #ffffff;
    color: #4285f4;
    border-color: #4285f4;
}
