@font-face {
    font-family: Maven-Pro;
    src: url("fonts/Maven%20Pro.ttf");
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #414141;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 5%;
    padding-left: 5%;
}

a {
    color: #4285f4;
    text-decoration: none;
}

* {
    font-family: Maven-Pro;
}

button {
    background-color: #4285f4;
    color: #ffffff;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
    border-radius: 50px;
    border-color: #4285f4;
    outline: none;
    border-style: solid;
}

button:active {
    background-color: #ffffff;
    color: #4285f4;
    border-color: #4285f4;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.openbtn:hover {
  background-color: #444;
  color: #4285f4;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
