@font-face {
    font-family: Maven-Pro;
    src: url("../fonts/Maven%20Pro.ttf");
}

::selection {
    background-color: #4285f4;
    color: #ffffff;
}

::-moz-selection {
    background-color: #4285f4;
    color: #ffffff;
}

body {
    background-color: #ffffff;
    color: #414141;
    margin: 0;
    padding: 0;
}

a {
    color: #4285f4;
    text-decoration: none;
}

* {
    font-family: Maven-Pro;
}

.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 1px 3px 3px 1px #f5f5f5;
    background-color: #ffffff;
}

.space {
    margin-top: 13%;
}

.webvium {
    text-align: center;
    margin-top: 5%;
}

.webvium_title {
    font-weight: bolder;
    font-size: 30px;
}

.webvium_sub {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 1%;
}

.webvium_info {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: 10%;
}

.webvium_screenshots {
    display: flex;
    margin-top: 10%;
    margin-right: 3%;
    margin-left: 3%;
    overflow: hidden;
}

.webvium_shot {
    width: 80%;
    height: auto;
    box-shadow: 1px 1px 2px 2px #f5f5f5;
}

.webvium_shot_holder {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webvium_selected_image {
    width: auto;
    height: 100vh;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50px;
  outline: none;
}

.openbtn:hover {
  background-color: #444;
}

#main0 {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.webvium_redirect {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    background-color: #4285f4;
    color: #ffffff;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5%;
    border-radius: 50px;
    border-color: #4285f4;
    outline: none;
    border-style: solid;
}

button:active {
    background-color: #ffffff;
    color: #4285f4;
    border-color: #4285f4;
}

.webvium_downloadas {
    margin: 10px;
}

.webvium_vid_frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}

.webvium_vid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
