name: Deploy static content to Pages

on:
  push:
    branches: ["master"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Download Dependecies
        run: |
          composer install
      - name: Build
        run: |
          wget https://raw.githubusercontent.com/neurobin/php2html/release/php2html
          chmod +x php2html
          ./php2html . dist -q
      - name: Generate RSS & Sitemap
        run: |
          cd dist
          wget https://github.com/mrepol742/RSS-Generator/releases/download/v1.1.3/RSS-Generator-1.0-jar-with-dependencies.jar
          java -cp RSS-Generator-1.0-jar-with-dependencies.jar com.mrepol742.rssgenerator.App --domain https://mrepol742.github.io/ --publisher "Melvin Jones Gallano Repol"
          rm -rf RSS-Generator-1.0-jar-with-dependencies.jar
          wget https://github.com/mrepol742/Sitemap-Generator/releases/download/v1.1.3/Sitemap-Generator-1.1.3-jar-with-dependencies.jar
          java -cp Sitemap-Generator-1.1.3-jar-with-dependencies.jar com.mrepol742.sitemapgenerator.App --domain https://mrepol742.github.io/ --publisher "Melvin Jones Gallano Repol"
          rm -rf Sitemap-Generator-1.1.3-jar-with-dependencies.jar
          cd ..
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
